---
layout: null
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}

    <!-- Carousel -->
    <div>
        <div id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li class="item1 active"></li>
                <li class="item2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img style="min-width: 100%;" src="/resources/images/slider_software.jpg" alt="HPB Signals">
                </div>

                <div class="item">
                    <img style="min-width: 100%;" src="/resources/images/slider_tradingblog.jpg" alt="Chania">
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <script>
            $(document).ready(function() {
                // Activate Carousel
                $("#myCarousel").carousel();

                // Enable Carousel Indicators
                $(".item1").click(function() {
                    $("#myCarousel").carousel(0);
                });
                $(".item2").click(function() {
                    $("#myCarousel").carousel(1);
                });

                // Enable Carousel Controls
                $(".left").click(function() {
                    $("#myCarousel").carousel("prev");
                });
                $(".right").click(function() {
                    $("#myCarousel").carousel("next");
                });
            });
        </script>




    </div>
    <!-- End of Carousel -->



    <div class="container">
        <!-- Highlighted pages -->
        <div>
            <!-- HPB Trader -->
            <div class="col-md-4" style="text-align: center;">
                <a href="/hpbtrader/" style="text-decoration: none;">
                    <div class="hpb-circle-glyphicon">
                        <i class="fa fa-cogs fa-3x" style="color: white; margin-top: 29px"></i>
                    </div>
                </a>
                <a href="/hpbtrader/" style="text-decoration: none;">
                    <h3 class="hpb-color-base-dark" style="font-weight: bold;">HPB Trader</h3>
                </a>
                <br>
                <p style="text-align: center;">Algorithmic trading strategy execution platform, standalone or cloud hosted, designed for Interactive Brokers algo traders.</p>
                <a href="/hpbtrader/" class="hpb-color-base-dark" style="font-weight: bold;">Architecture </a><i class="fa fa-caret-right hpb-color-base-dark" aria-hidden="true"></i>
            </div>
            <!-- End of HPB Trader -->

            <!-- HPB Signals -->
            <div class="col-md-4" style="text-align: center;">
                <a href="/hpbsignals/" style="text-decoration: none;">
                    <div class="hpb-circle-glyphicon">
                        <i class="fa fa-signal fa-3x" style="color: white; margin-top: 29px"></i>
                    </div>
                </a>
                <a href="/hpbsignals/" style="text-decoration: none;">
                    <h3 class="hpb-color-base-dark" style="font-weight: bold;">HPB Signals</h3>
                </a>
                <br>
                <p style="text-align: center;">For traders who use Interactive Brokers TWS or IB Gateway platform and need to automatically enter IB trades as C2 signals into Collective2 platform.</p>
                <a href="/hpbsignals/" class="hpb-color-base-dark" style="font-weight: bold;">More Info </a><i class="fa fa-caret-right hpb-color-base-dark" aria-hidden="true"></i>
            </div>
            <!-- End of HPB Signals -->

            <!-- Market Outlook -->
            <div class="col-md-4" style="text-align: center;">
                <a href="/market-outlook/" style="text-decoration: none;">
                    <div class="hpb-circle-glyphicon">
                        <i class="fa fa-line-chart fa-3x" style="color: white; margin-top: 29px"></i>
                    </div>
                </a>
                <a href="/market-outlook/" style="text-decoration: none;">
                    <h3 class="hpb-color-base-dark" style="font-weight: bold;">Market Outlook</h3>
                </a>
                <br>
                <p style="text-align: center;">Weekly market outlook for S&P 500, T-Bond, Gold, Crude Oil and Euro. 60 minutes, daily and weekly annotated charts.</p>
                <a href="/market-outlook/" class="hpb-color-base-dark" style="font-weight: bold;">View Latest </a><i class="fa fa-caret-right hpb-color-base-dark" aria-hidden="true"></i>
            </div>
            <!-- End of Market Outlook -->



        </div>
        <!-- End of Highlighted pages -->

        <!-- Recent Posts -->
        <div>
        </div>
        <!-- End of Recent Posts -->
    </div>
    {% include footer.html %}
</body>

</html>
