<header>
    <nav class="navbar navbar-static-top navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <!-- three lines shown as button on mobile devices -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- text instead of logo -->
                <a href="/" class="logo brand-image-collapsed visible-xs"><img
                        src="/resources/images/hpb-logo-112.png"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li><a href="/" class="logo brand-image hidden-xs"><img
                            src="/resources/images/hpb-logo-112.png"/></a></li>

                    <li class="dropdown">
                        <a href="/hpbtrader/" class="dropdown-toggle disabled" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">HPB Trader</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://webdoc.highpowerbear.com/hpbtrader">Online Manual</a></li>
                            <li><a href="/hpbtrader/screenshots/">Screenshots</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="/hpbsignals/" class="dropdown-toggle disabled" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">HPB Signals</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://webdoc.highpowerbear.com/hpbsignals">Online Manual</a></li>
                            <li><a href="/hpbsignals/screenshots/">Screenshots</a></li>
                            <li><a href="/hpbanalytics/screenshots/">Analytics</a></li>
                        </ul>
                    </li>

                    <li><a class="disabled" href="/trading-system/">Trading System</a></li>

                    <li class="dropdown">
                        <a href="/market-outlook/" class="dropdown-toggle disabled" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Market Outlook</a>
                        <ul class="dropdown-menu">
                            <li><a href="/archive/">Archive</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="/about/" class="dropdown-toggle disabled" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">About</a>
                        <ul class="dropdown-menu">
                            <li><a href="/disclaimer/">Disclaimer</a></li>
                            <li><a href="/cookie-policy/">Cookie Policy</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

</header>
