<header>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="padding: 6px;"><img alt="HighPowerBear" src="/resources/images/hpb-logo-112.png" style="height: 40px;"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HPB Trader <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/hpbtrader/">Features</a></li>
                            <li><a href="/hpbtrader/screenshots/">Screenshots</a></li>
                            <li><a href="http://webdoc.highpowerbear.com/hpbtrader/" target="_blank">Online Manual</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HPB Signals <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/hpbsignals/">Features</a></li>
                            <li><a href="/hpbsignals/screenshots/">Screenshots</a></li>
                            <li><a href="http://webdoc.highpowerbear.com/hpbsignals/" target="_blank">Online Manual</a></li>
                            <li><a href="/hpbanalytics/screenshots/">Analytics</a></li>
                        </ul>
                    </li>
                    <li><a href="/trading-system/">Trading System</a></li>
                    <li><a href="/market-outlook/">Market Outlook</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Disclaimer <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/disclaimer/">Disclaimer</a></li>
                            <li><a href="/cookie-policy/">Cookie Policy</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right social">
                    <!-- Social links -->
                    <li><a href="{{site.twitter}}" title="Twitter {{site.twitter}}" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="{{site.github}}" title="GitHub {{site.github}}" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="/feed.xml" title="RSS" target="_blank"><i class="fa fa-rss fa-lg" aria-hidden="true"></i></a></li>
                    <!-- End of Social links -->

                    <!-- Contact -->
                    <li><a href="mailto:{{site.email}}" title="Email {{site.email}}" target="_blank"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></li>
                    <!-- End of Contact -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
