.site-header {
   border-top: 0px;
  border-bottom: 0px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


button:focus {
  outline:none
}

button:focus {
  outline:none !important
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #9d9d9d;
}

/* 2 * padding + height = 50px */

.nav > li > a.brand-image {
  padding: 10px;
  padding-right: 20px;
}

.brand-image > img {
  height: 30px;
}

.brand-image-collapsed {
  padding: 10px;
}

.brand-image-collapsed > img {
  height: 30px;
}


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 .navbar .nav > li > a {
    -webkit-transition: all ease .3s;
       -moz-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
}
