---
# front matter needed for processing
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";

$hpb-color-bullish: green;
$hpb-color-bearish: red;
$hpb-color-neutral: gray;
$hpb-color-base-dark: #263238;
$hpb-color-base: #607D8B;
$hpb-chart-width: 900px;

/* Carousel indicators placed in bottom right corner */
.carousel-indicators {
    left: 92.5%;
    margin-bottom: -1%;
}

/* No gap between menu and carousel */
.navbar {
    margin-bottom: 0px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

.hpb-footer {
    color: #CFD8DC;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: $hpb-color-base-dark;
    a { color: #ECEFF1; }
    p { text-align: center; padding-top: 20px; }
}

.hpb-scrollup {
    cursor: pointer;
    opacity: 0.75;
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 40px;
    z-index: 9;
    color: $hpb-color-base;
}

.hpb-title {
    color: lighten($hpb-color-base-dark, 20%);
    a {
        color: lighten($hpb-color-base-dark, 20%);
        text-decoration: none;
    }
}

.hpb-screenshots {
    margin-top: 30px;
    a { border-bottom-style: none; }
}

li.hpb-sentiment {
    &.bullish {
        a {color: $hpb-color-bullish;}
        &.active {
            a {color: white; background-color: $hpb-color-bullish;}
        }
    }
    &.bearish {
        a {color: $hpb-color-bearish;}
        &.active {
            a {color: white; background-color: darken($hpb-color-bearish, 20%);}
        }
    }
    &.neutral {
        a {color: $hpb-color-neutral;}
        &.active {
            a {color: white; background-color: $hpb-color-neutral;}
        }
    }
}

.hpb-color-base-dark {
    color: $hpb-color-base-dark;
    &:hover {
        color: $hpb-color-base-dark;
        text-decoration: none;
    }
}

.hpb-circle-glyphicon {
    margin-top: 40px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: $hpb-color-base-dark;
    border-radius: 100px;
}

.hpb-chart {
    width: 90%;
    max-width: $hpb-chart-width;
}

.navbar-default {
  background-color: #263238;
  border-color: #263238;
}
.navbar-default .navbar-brand {
  color: #b0bec5;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #eceff1;
}
.navbar-default .navbar-text {
  color: #b0bec5;
}
.navbar-default .navbar-nav > li > a {
  color: #b0bec5;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eceff1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #eceff1;
  background-color: #263238;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #eceff1;
  background-color: #263238;
}
.navbar-default .navbar-toggle {
  border-color: #263238;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #263238;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #b0bec5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #b0bec5;
}
.navbar-default .navbar-link {
  color: #b0bec5;
}
.navbar-default .navbar-link:hover {
  color: #eceff1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #b0bec5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eceff1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eceff1;
    background-color: #263238;
  }
}