---
# front matter needed for processing
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";


$hpb-color-bullish: green;
$hpb-color-bearish: red;
$hpb-color-neutral: gray;

li.hpb-sentiment {
    &.bullish {
        a {color: $hpb-color-bullish;}
        &.active {
            a {color: white; background-color: $hpb-color-bullish;}
        }
    }
    &.bearish {
        a {color: $hpb-color-bearish;}
        &.active {
            a {color: white; background-color: darken($hpb-color-bearish, 20%);}
        }
    }
    &.neutral {
        a {color: $hpb-color-neutral;}
        &.active {
            a {color: white; background-color: $hpb-color-neutral;}
        }
    }
}