---
# front matter needed for processing
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";

$hpb-color-bullish: green;
$hpb-color-bearish: red;
$hpb-color-neutral: gray;
$hpb-color-github: #333;
$hpb-color-github-hover: #4078c0;
$hpb-color-twitter: #00aced;
$hpb-color-email: #9E9E9E;
$hpb-color-rss: #ff6600;
$hpb-color-base-dark: #263238;
$hpb-color-base: #607D8B;
$hpb-chart-width: 900px;

/* Carousel indicators placed in bottom right corner */
.carousel-indicators {
    left: 92.5%;
    margin-bottom: -1%;
}

/* No gap between menu and carousel */
.navbar {
    margin-bottom: 0px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

.hpb-footer {
    color: #CFD8DC;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: $hpb-color-base-dark;
    a { color: #ECEFF1; }
    p { text-align: center; padding-top: 20px; }
}

.hpb-scrollup {
    cursor: pointer;
    opacity: 0.75;
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 40px;
    z-index: 9;
    color: $hpb-color-base;
}

.hpb-title {
    color: lighten($hpb-color-base-dark, 20%);
    a {
        color: lighten($hpb-color-base-dark, 20%);
        text-decoration: none;
    }
}

.hpb-screenshots {
    margin-top: 30px;
    a { border-bottom-style: none; }
}

li.hpb-sentiment {
    &.bullish {
        a {color: $hpb-color-bullish;}
        &.active {
            a {color: white; background-color: $hpb-color-bullish;}
        }
    }
    &.bearish {
        a {color: $hpb-color-bearish;}
        &.active {
            a {color: white; background-color: darken($hpb-color-bearish, 20%);}
        }
    }
    &.neutral {
        a {color: $hpb-color-neutral;}
        &.active {
            a {color: white; background-color: $hpb-color-neutral;}
        }
    }
}

.hpb-github-link {
    color: $hpb-color-github;
    &:hover {
        color: $hpb-color-github-hover;
    }
}

.hpb-twitter-link {
    color: $hpb-color-twitter;
    &:hover {
        color: darken($hpb-color-twitter, 10%);
    }
}

.hpb-email-link {
    color: $hpb-color-email;
    &:hover {
        color: darken($hpb-color-email, 10%);
    }
}

.hpb-rss-link {
    color: $hpb-color-rss;
    &:hover {
        color: darken($hpb-color-rss, 10%);
    }
}

.hpb-color-base-dark {
    color: $hpb-color-base-dark;
    &:hover {
        color: $hpb-color-base-dark;
        text-decoration: none;
    }
}

.hpb-circle-glyphicon {
    margin-top: 40px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: $hpb-color-base-dark;
    border-radius: 100px;
}

.hpb-chart {
    width: 90%;
    max-width: $hpb-chart-width;
}
