<!DOCTYPE html>
<html>

{% include head.html %}
    <body>
        {% include header.html %}
        <div class="container">
          <!-- Content -->
          <div class="col-md-10" style="background-color: blue;">
              {{ content }}
          </div> <!-- End of Content -->

          <!-- Sidebar -->
          <div class="col-md-2" style="background-color: green;">
            Test
          </div> <!-- End of Sidebar -->
        </div>
        {% include footer.html %}
    </body>
</html>
