---
layout: two-column
---

<article>
    <header class="hpb-title">
        <a href="{{site.url}}{{page.url}}" title="Permalink to {{page.title}}" rel="bookmark">
            <h2>{{ page.title }}</h2>
        </a>
        <div>
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
            <span>- {{ page.author }}</span>
        </div>
    </header>

    <div style="margin-top: 20px;">
        {{ content }}
    </div>{%
    capture charts-url %}{{site.chartsurl}}/{{page.charts-ymd | slice: 0, 2}}/{{page.charts-ymd}}{% endcapture %}{%
    for symbol in page.symbols %}
        <div style="margin-bottom: 30px;">{%
            assign s = symbol[0] %}
            <h4 style="margin-bottom: 20px;" class="hpb-title">{{site.symbols[s]}}</h4>
            <div style="margin-top: 0px; margin-bottom: 10px;">
                <ul class="nav nav-pills">{%
                    for interval in symbol[1] %}{%
                        capture button-id %}button-{{symbol[0]}}-{{page.charts-ymd}}-{{interval[0]}}-{{page.image-suffix}}{% endcapture %}{%
                        if interval[0] == page.default-interval %}{%
                            assign isactive = 'active' %}{%
                        else %}{%
                            assign isactive = '' %}{%
                        endif %}
                        <li id="{{button-id}}" title="Click to view {{interval[0]}} chart" role="presentation" class="hpb-button hpb-sentiment {{interval[1]}} {{isactive}}">
                            <a href="javascript:void(0);">{{interval[0]}}: {{interval[1]}}</a>
                        </li>{%
                    endfor %}
                </ul>
            </div>{%
            capture chartlink-id %}chartlink-{{symbol[0]}}-{{page.charts-ymd}}{% endcapture %}{%
            capture chartimage-id %}chartimage-{{symbol[0]}}-{{page.charts-ymd}}{% endcapture %}{%
            capture img-src %}{{charts-url}}/{{symbol[0]}}_{{page.charts-ymd}}_{{page.default-interval}}.{{page.image-suffix}}{% endcapture %}
            <div class="hpb-screenshots">
                <a id="{{chartlink-id}}" href="{{img-src}}" target="_blank" style="border-bottom-style: none;" data-toggle="lightbox" data-title="{{site.symbols[s]}}">
                    <img id="{{chartimage-id}}" src="{{img-src}}" class="hpb-chart" title="Click to view in lightbox"/>
                </a>
            </div>
        </div>{%
    endfor %}
</article>
