<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include header.html %}

<i class="fa fa-chevron-circle-up fa-5x hpb-scrollup" aria-hidden="true" title="Back To Top"></i>

<div class="container" style="margin-top: 20px; padding-bottom: 50px;">
    <!-- Content -->
    <div class="col-md-10">
        {{ content }}
    </div>
    <!-- End of Content -->

    <!-- Sidebar -->
    <div class="col-md-2">
        <!-- StockTwits -->
        <a href="https://stocktwits.com/highpowerbear" target="_blank"><img alt="StockTwits" src="/resources/images/stock-twits.png" style="width: 120px;"></a>
        <!-- End of StockTwits -->

        <!-- Yearly Archive posts -->
        <div style="margin-top: 25px;">
            <h4 class="hpb-title">Archive</h4>{%
            for post in site.posts %}{% assign currentdate = post.date | date: "%Y" %}{%
            if currentdate != date %}
            <div><a href="/archive/{{ currentdate }}">{{ currentdate }}</a></div>{%
            assign date = currentdate %}{%
            endif %}{%
            endfor %}
        </div>
        <!-- End of Yearly Archive posts -->

        <!-- Ads -->
        <!-- 120x600, created 11/8/09 -->
        <!--
        <div style="margin-top: 25px;">
            <h4 class="hpb-title">Ads</h4>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:inline-block;width:120px;height:600px"
                 data-ad-client="ca-pub-6509989415968376"
                 data-ad-slot="3626244317"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        -->
        <!-- End of Ads -->
    </div>
    <!-- End of Sidebar -->
</div>
{% include footer.html %}
</body>

</html>
